{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELLER PASSWORD CHANGE</title>
    <link rel="stylesheet" href="{% static 'css/change_password.css' %}">
</head>
<body>
    <div class="container">
        <div class="box">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    <tr>
                        <th>SELLER PASSWORD CHANGE</th>
                    </tr>
                    <tr>
                        <td>
                            <input name="old_pass" type="password" placeholder="older password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="new_pass" type="password" placeholder="New Password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="conf_pass" type="password" placeholder="Confirm New Password">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit">
                            {{seller}}
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="container">
        <b id="back"><a href="{% url 'seller:seller_home' %}">BACK TO HOME PAGE</a></b>
    </div>
</body>
</html>